<div class="container col-xs-offset-1 col-xs-10">
    <div class="form-group">
        <div class="alert alert-dismissable alert-success" data-ng-if="message !=''">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{message}}
        </div>
        <div class="alert alert-dismissable alert-danger" data-ng-if="errorMsg !=''">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{errorMsg}}
        </div>
        <label for="modeName" class="col-lg-3 control-label"><h3>Mode Name</h3></label>
        <div class="col-lg-10">
            <input type="text" class="form-control col-lg-2" id="modeName" placeholder="mode name" data-ng-model="mode.name">
        </div>
    </div>
    <br/>
    <button class="btn btn-success pull-right" data-ng-click="saveMode()">Save Mode</button><br /><br /><br />
    <h2>Switches</h2>
    <ul class="list-group" data-ng-repeat="room in rooms">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-2 col-md-2">
                    <div class="photoCaption">
                        <img data-ng-src="Content/images/{{room.image}}" alt="Img" class="img_fit" /><br />
                        <small><em> {{room.name}} </em></small>
                    </div>
                </div>
                <div class="row col-xs-10 col-md-10">
                    <div data-ng-repeat="sw in switch_boards | filter:{ room: room.id }">
                        <div data-ng-click="relayClick(sw.id, $index)" data-ng-class="relay.status==1 ? 'col-xs-2 photoCaption btn btn-warning' : 'col-xs-2 photoCaption btn btn-primary'" data-ng-repeat="relay in sw.relay">
                            <img data-ng-if="relay.status==0" alt="Img" class="img_fit" src="Content/images/light-bulb-off-icon.png" />
                            <img data-ng-if="relay.status==1" alt="Img" class="img_fit" src="Content/images/light-bulb-icon.png" />
                            <img data-ng-if="relay.status==2" alt="Img" class="img_fit" src="Content/images/questionmark.png" />
                            <br />
                            <small><em> {{relay.name}} </em></small>
                        </div>
                    </div>
                </div>

            </div>
        </li>
    </ul>
    <div class="container">
        <h2>Door Locks</h2>
        <div data-ng-click="doorClick(doorlock.id)" data-ng-class="doorlock.status==0 ? 'col-xs-3 photoCaption btn btn-warning' : 'col-xs-3 photoCaption btn btn-primary'" data-ng-repeat="doorlock in doorlocks">
            <img data-ng-if="doorlock.status==0" data-ng-src="Content/images/door_unlock.png" alt="Img" class="img-fit" />
            <img data-ng-if="doorlock.status==1" data-ng-src="Content/images/door_lock.png" alt="Img" class="img-fit" />
            <img data-ng-if="doorlock.status==2" data-ng-src="Content/images/questionmark.png" alt="Img" class="img-fit" />
            <br />
            <small><em> {{doorlock.name}} </em></small>
        </div>
    </div>
    <div class="container">
        <h2>Music</h2>
        <div data-ng-click="modeClick(musicMode.id)" class="col-xs-2 photoCaption btn btn-primary" data-ng-repeat="musicMode in musicModes">
            <img data-ng-if="musicMode.status==0" data-ng-src="Content/images/questionmark.png" alt="Img" class="img-fit" />
            <img data-ng-if="musicMode.status==1" data-ng-src="Content/images/musicplay.png" alt="Img" class="img-fit" />
            <br />
            <strong><em> {{musicMode.name}} </em></strong>
        </div>
    </div>
</div>